header {
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  align-items: center;
}

.movies-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-repository-container {
  display: flex;
  align-items: center;
}
